.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 2rem;
  line-height: 1.4;
  margin-top: 0;
  font-weight: 500;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
}

.borderCircle {
  border-radius: 1000px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #999;
}

.boldText {
  color: black;
  font-weight: 550;
}

.mdStyle > * {
  list-style: disc;
  line-height: 2;
  list-style-position: inside;
}

.mdStyle > h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 16px;
}

.mdStyle > h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 16px 0;
}

.mdStyle > h4 {
  font-weight: bold;
  text-decoration: underline;
  margin: 8px 0;
}

.mdStyle > pre {
  font-size: 20px;
  color: #fff;
  background-color: black;
  padding: 8px;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}

.mdStyle > p > code {
  font-size: 20px;
}

.mdStyle > table {
  margin: 16px 0;
  border: 1px solid black;
}

.mdStyle > table > thead {
  border: 1px solid black;
  background-color: rgb(201, 198, 198);
}

.mdStyle > table > thead > tr > th {
  border: 1px solid black;
  padding: 4px;
}

.mdStyle > table > tbody > tr > td {
  border: 1px solid black;
  padding: 8px 20px;
}